# Environment variables
.env
.env.local
.env.production

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.egg-info/

# Node
node_modules/
dist/

# AWS / SSH keys
*.pem

# macOS
.DS_Store
cookies.txt
